@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
.add-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 80vh;
  background-color: #edf0f2;
  gap: 20px;
  width: 60%;
  position: relative;
  left: 20%;
  margin-top: 90px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.add-item-container h1 {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 0;
}

.add-item-container input[type="text"] {
  width: 90%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.add-button {
  width: 810px;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
