@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

body {
  font-family: "lato", sans-serif;
}
.container {
  max-width: 2000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 30px;
  margin: 20px 0;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }
  .table-header {
    background-color: #95a5a6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    margin-left: 20px;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
    text-align: center;
  }
  .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-3 {
    flex-basis: 15%;
  }
  .col-4 {
    flex-basis: 20%;
  }
  .col-5 {
    flex-basis: 20%;
  }
  .col-6 {
    flex-basis: 20%;
  }
  .col-7 {
    flex-basis: 20%;
  }
  .col-8 {
    flex-basis: 20%;
  }
}
