.stock-container h1 {
  font-size: 60px;
}
.header {
  margin-top: 40px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-optical-sizing: auto;
  font-size: 40px;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  height: fit-content;
  width: fit-content;
  background-color: rgb(209, 209, 209);
  position: relative;
  left: 20%;
  margin-top: 12%;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header button {
  padding: 7px 23px 7px 23px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 44, 126);
  color: rgb(255, 255, 255);
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.header button:hover {
  background-color: rgb(0, 75, 168);
}
