@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.table-container {
  overflow: auto;
  width: 70%;
  position: relative;
  left: 17%;
}

.table-container table {
  border: 1px solid #dededf;
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 100px;
  text-align: center;
}

.table-container th {
  border: 1px solid #dededf;
  background-color: #eceff1;
  color: #000000;
  padding: 10px;
  text-align: center;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
}

.table-container td {
  border: 1px solid #dededf;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  font-weight: 400;
}
.update-button {
  background-color: #0c3f98;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}
.update-button:hover {
  background-color: #074e7d;
}

.delete-button {
  background-color: #a21309;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.delete-button:hover {
  background-color: #b90f0f;
}
