.update-stock-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  background-color: #edf0f2;
  gap: 20px;
  width: 60%;
  position: relative;
  left: 20%;
  margin-top: 90px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.update-stock-input {
  width: 97.6%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.update-stock-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

.update-stock-button:hover {
  background-color: #0056b3;
}
