@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");



.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  gap: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70%;
  width: 40%;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
  column-gap: 100px;
  background-color: white;
  padding: 20px;
  text-align: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.login-title {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
  text-transform: uppercase;
  margin-bottom: 50px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button-link {
  text-decoration: none;
}

.login-button {
  margin: 0 auto;
  display: block;
}