@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #edf0f2;
  gap: 20px;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 30%;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  column-gap: 100px;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 70px;
}
.details input[type="text"],
input[type="password"] {
  width: 110%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}

.login-button {
  width: 120%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}
.login-title {
  font-size: 50px;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-optical-sizing: auto;
  font-style: normal;
}
