body {
  margin: 0;
  padding: 0;
  font-family: Inter;
}
* {
  box-sizing: border-box;
  line-height: normal;
  font-family: inherit;
  margin: unset;
}
a {
  text-decoration: none;
  display: block;
}
ul {
  margin: 0;
  margin-inline: unset !important;
  padding: 0;
  list-style: none;
}
input {
  background-color: transparent;
  width: 100%;
}
input:focus {
  outline: none;
}
